
  
  <div class="row p-3">
    <div class="col-12 p-2 justify-content-center align-items-center">
        <div class="about-us">
            <h2>About Us</h2>
            <p class="content">
              We, at SUTech, specialize in assisting individuals in securing jobs within the IT industry. For those who are unsure about how to embark on their first job journey, we provide comprehensive training programs conducted by our seasoned experts. We ensure that you not only gain the necessary skills but also successfully land your inaugural job opportunity.
              Worried about a career gap? Don't be. We're here to support you through it all.
            </p>
        </div>
        <div class="mission-vission">
          <h2>Our Vision and Mission</h2>
          <div class="container">
            <div class="section">
              <h2>Vision</h2>
              <p class="content1">To enrich the knowledge & skill sets of young software engineers by providing value-added training in the areas of Software Development & Testing.</p>
              <p class="content1">To serve the industries by providing trained human resources in the above areas.</p>
            </div>
        
            <div class="section">
              <h2>Mission</h2>
              <p class="content1">To provide quality Software Training & Consulting Services in the areas of J2EE, .NET, ERP, Database Administration, Testing, Content Management with Live Projects.</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="row p-3">
    <div class="col count" >
      <div #countUpElement></div>
    </div>
  </div>

