
  
  <div class="row p-3">
    <div class="col-sm-12 col-md-6 col-lg-6 p-2 justify-content-center align-items-center">
        <div class="about-us">
            <h2>We Are SUTech</h2>
            <p class="content">
              We, at SUTech, specialize in assisting individuals in securing jobs within the IT industry. For those who are unsure about how to embark on their first job journey, we provide comprehensive training programs conducted by our seasoned experts. We ensure that you not only gain the necessary skills but also successfully land your inaugural job opportunity.
            </p>
            <p class="content">
              Worried about a career gap? Don't be. We're here to support you through it all.
            </p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 justify-content-center align-items-center d-flex p-2">
        <img src="./assets/images/aboutus.svg" alt="SVG Example" class="about-us-image">
    </div>
  </div>