.description {
    overflow: hidden;
    transition: height 0.3s ease;
}
.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1 !important;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.card-title,
.card-text {
    margin-bottom: 0; /* Remove default margin */
}

.card-img-top{
    height: 200px;
}