.enq-btn{
margin-top: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.enq{
    width: 100%;
    text-transform: uppercase;
    background-color: rgb(50, 180, 93);
    border-color:rgb(50, 180, 93);
    border-radius: 0px;
}

.enq:hover{
    width: 100%;
    text-transform: uppercase;
   color: rgb(50, 180, 93);
   background-color: #fff;
    border-radius: 1px solid #000;
}

.fixed-image {
    height: 200px; 
    object-fit: cover; 
}