.add-job{
    display: flex;
    justify-content: end;
    padding: 2vw;
}

.job-btn{
    background-color: rgb(50, 180, 93);
    color: #fff;
    border-radius: 0px;
    border-color: rgb(50, 180, 93);
    z-index: 9999;
}

.job-btn:hover{
    color: rgb(50, 180, 93);
    background-color: #fff;
    border-radius: 1px solid #000;
    background-color: #fff;
}

.quill-height{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
